In [1]:
from ipyleaflet import Map, MagnifyingGlass, basemaps, basemap_to_tiles, Marker
import pandas as pd

In [2]:
# lee el data json
datos = pd.read_json("data/country-codes-lat-long-alpha3.json")

In [3]:
# pasa a lista

lista = datos['ref_country_codes'].tolist()

In [19]:
# presenta lista
lista

            country alpha2 alpha3  numeric  latitude  longitude
0           Albania     AL    ALB        8   41.0000       20.0
1           Algeria     DZ    DZA       12   28.0000        3.0
2    American Samoa     AS    ASM       16  -14.3333     -170.0
3           Andorra     AD    AND       20   42.5000        1.6
4            Angola     AO    AGO       24  -12.5000       18.5
..              ...    ...    ...      ...       ...        ...
238  Western Sahara     EH    ESH      732   24.5000      -13.0
239           Yemen     YE    YEM      887   15.0000       48.0
240          Zambia     ZM    ZMB      894  -15.0000       30.0
241        Zimbabwe     ZW    ZWE      716  -20.0000       30.0
242     Afghanistan     AF    AFG        4   33.0000       65.0

[243 rows x 6 columns]

In [18]:
#presenta tal cual cada JSON
datos

                                     ref_country_codes
0    {'country': 'Albania', 'alpha2': 'AL', 'alpha3...
1    {'country': 'Algeria', 'alpha2': 'DZ', 'alpha3...
2    {'country': 'American Samoa', 'alpha2': 'AS', ...
3    {'country': 'Andorra', 'alpha2': 'AD', 'alpha3...
4    {'country': 'Angola', 'alpha2': 'AO', 'alpha3'...
..                                                 ...
238  {'country': 'Western Sahara', 'alpha2': 'EH', ...
239  {'country': 'Yemen', 'alpha2': 'YE', 'alpha3':...
240  {'country': 'Zambia', 'alpha2': 'ZM', 'alpha3'...
241  {'country': 'Zimbabwe', 'alpha2': 'ZW', 'alpha...
242  {'country': 'Afghanistan', 'alpha2': 'AF', 'al...

[243 rows x 1 columns]

In [8]:
#Crea un DataFrame de la lista 
datos_paises = pd.DataFrame(lista)

In [5]:
datos_paises

            country alpha2 alpha3  numeric  latitude  longitude
0           Albania     AL    ALB        8   41.0000       20.0
1           Algeria     DZ    DZA       12   28.0000        3.0
2    American Samoa     AS    ASM       16  -14.3333     -170.0
3           Andorra     AD    AND       20   42.5000        1.6
4            Angola     AO    AGO       24  -12.5000       18.5
..              ...    ...    ...      ...       ...        ...
238  Western Sahara     EH    ESH      732   24.5000      -13.0
239           Yemen     YE    YEM      887   15.0000       48.0
240          Zambia     ZM    ZMB      894  -15.0000       30.0
241        Zimbabwe     ZW    ZWE      716  -20.0000       30.0
242     Afghanistan     AF    AFG        4   33.0000       65.0

[243 rows x 6 columns]

In [38]:
# sacar de lista los paises que se referencian 
datos_valores = datos_paises.to_dict("records")

datos_valores[0]

datos_valores = [d for d in datos_valores if d['country'] in ["Ecuador", "Colombia", "Chile", "Japon"\
                                                             "Venezuela, Bolivarian Republic of"]]
datos_valores

[{'country': 'Chile',
  'alpha2': 'CL',
  'alpha3': 'CHL',
  'numeric': 152,
  'latitude': -30.0,
  'longitude': -71.0},
 {'country': 'Colombia',
  'alpha2': 'CO',
  'alpha3': 'COL',
  'numeric': 170,
  'latitude': 4.0,
  'longitude': -72.0},
 {'country': 'Ecuador',
  'alpha2': 'EC',
  'alpha3': 'ECU',
  'numeric': 218,
  'latitude': -2.0,
  'longitude': -77.5}]

In [39]:
#punto de partida
center = (-34, -64)

m = Map(center=center, zoom=2)
# agrega puntos al mapa 
for d in datos_valores:
    #genera una tupla de informacion 
    c = (d['latitude'], d['longitude'])
    
    marker = Marker(location=c, draggable=False)
    #agrega al mapa cada marca
    m.add_layer(marker);


# m.add_layer(magnifying_glass)
m

Map(center=[-34, -64], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…

In [40]:
center = (-34, -64)
m = Map(center=center, zoom=2)
for d in datos_valores:
    c = (d['latitude'], d['longitude'])
    print(d['country'])
    marker = Marker(location=c, draggable=False, title=d['country'], alt=d['country'])
    m.add_layer(marker);


# m.add_layer(magnifying_glass)
m

Chile
Colombia
Ecuador

Map(center=[-34, -64], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_t…